In [30]:
import os
import pandas as pd
from scipy.stats import zscore

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv",na_values=['NA','?','-','na','--'])
display(df[0:5])

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,IT-14,26633,CO-23,48583.507153
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,IT-8,14537,CO-11,130572.202064
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,46998.44,IT-5,21135,CO-1E,85768.812850

In [31]:
ratio = df['max']/df['number']

In [32]:
display(ratio)

0        2.694043
1        5.643897
2        1.764273
3        1.900283
4        1.236659
           ...
10804    4.596591
10805    1.866383
10806    1.113371
10807    1.864652
10808    1.500592
Length: 10809, dtype: float64

In [33]:
df['ratio'] = ratio

In [34]:
display(df[0:5])

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target,ratio
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769,2.694043
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044,5.643897
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,IT-14,26633,CO-23,48583.507153,1.764273
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,IT-8,14537,CO-11,130572.202064,1.900283
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,46998.44,IT-5,21135,CO-1E,85768.812850,1.236659

In [35]:
dummies = pd.get_dummies(df['cat2'],prefix='cat2')
dummies

,cat2_CA-0,cat2_CA-1,cat2_CA-10,cat2_CA-11,cat2_CA-12,cat2_CA-13,cat2_CA-14,cat2_CA-15,cat2_CA-16,cat2_CA-17,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10805,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10806,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10807,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [36]:
df = pd.concat([df,dummies],axis=1)

In [37]:
df

,id,convention,height,max,cat2,number,usage,region,length,code,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,...,0,0,0,0,0,0,0,0,1,0
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,...,0,0,0,0,1,0,0,0,0,0
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,...,0,0,0,0,0,0,0,0,0,0
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,...,0,0,0,1,0,0,0,0,0,0
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,10805,CO-28,1901.75,49087,CA-4,10679,US-3,RE-1D,14191.6477,CO-6,...,0,0,0,0,0,0,0,0,0,0
10805,10806,CO-1A,6365.25,37253,CA-1,19960,US-5,RE-5,10687.0503,CO-1,...,0,0,0,0,0,0,0,0,0,0
10806,10807,CO-10,5918.89,30925,CA-13,27776,US-24,RE-17,12387.0003,CO-7,...,0,0,0,0,0,0,0,0,0,0
10807,10808,CO-2B,503.09,47998,CA-17,25741,US-6,RE-17,10395.2940,CO-D,...,0,0,0,0,0,0,0,0,0,0
10808,10809,CO-2F,6191.13,29149,CA-E,19425,US-1,RE-1C,17203.1377,CO-F,...,0,0,0,0,0,0,0,0,1,0

In [38]:
df.drop('cat2',axis=1,inplace=True)

In [39]:
df

,id,convention,height,max,number,usage,region,length,code,power,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,1,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,1,0,0,0,0,0
2,3,CO-19,2859.80,40760,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,...,0,0,0,0,0,0,0,0,0,0
3,4,CO-2B,5823.87,33597,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,...,0,0,0,1,0,0,0,0,0,0
4,5,CO-5,NaN,29848,24136,US-21,RE-4,18093.9147,CO-4,46998.44,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,10805,CO-28,1901.75,49087,10679,US-3,RE-1D,14191.6477,CO-6,58183.17,...,0,0,0,0,0,0,0,0,0,0
10805,10806,CO-1A,6365.25,37253,19960,US-5,RE-5,10687.0503,CO-1,65491.84,...,0,0,0,0,0,0,0,0,0,0
10806,10807,CO-10,5918.89,30925,27776,US-24,RE-17,12387.0003,CO-7,30040.54,...,0,0,0,0,0,0,0,0,0,0
10807,10808,CO-2B,503.09,47998,25741,US-6,RE-17,10395.2940,CO-D,46344.43,...,0,0,0,0,0,0,0,0,0,0
10808,10809,CO-2F,6191.13,29149,19425,US-1,RE-1C,17203.1377,CO-F,53174.22,...,0,0,0,0,0,0,0,0,1,0

In [40]:
pd.isnull(df['length']).values.any()

True

In [41]:

median = df['length'].median()
df['length'] = df['length'].fillna(median)

In [42]:
df

,id,convention,height,max,number,usage,region,length,code,power,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,1,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,1,0,0,0,0,0
2,3,CO-19,2859.80,40760,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,...,0,0,0,0,0,0,0,0,0,0
3,4,CO-2B,5823.87,33597,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,...,0,0,0,1,0,0,0,0,0,0
4,5,CO-5,NaN,29848,24136,US-21,RE-4,18093.9147,CO-4,46998.44,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,10805,CO-28,1901.75,49087,10679,US-3,RE-1D,14191.6477,CO-6,58183.17,...,0,0,0,0,0,0,0,0,0,0
10805,10806,CO-1A,6365.25,37253,19960,US-5,RE-5,10687.0503,CO-1,65491.84,...,0,0,0,0,0,0,0,0,0,0
10806,10807,CO-10,5918.89,30925,27776,US-24,RE-17,12387.0003,CO-7,30040.54,...,0,0,0,0,0,0,0,0,0,0
10807,10808,CO-2B,503.09,47998,25741,US-6,RE-17,10395.2940,CO-D,46344.43,...,0,0,0,0,0,0,0,0,0,0
10808,10809,CO-2F,6191.13,29149,19425,US-1,RE-1C,17203.1377,CO-F,53174.22,...,0,0,0,0,0,0,0,0,1,0

In [43]:
pd.isnull(df['length']).values.any()

False

In [44]:
median = df['height'].median()
df['height'] = df['height'].fillna(median)

In [46]:
df['height'] = zscore(df['height'])

In [47]:
df

,id,convention,height,max,number,usage,region,length,code,power,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,1,CO-1A,0.453222,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,1,0
1,2,CO-C,-1.482176,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,1,0,0,0,0,0
2,3,CO-19,-0.339669,40760,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,...,0,0,0,0,0,0,0,0,0,0
3,4,CO-2B,1.309919,33597,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,...,0,0,0,1,0,0,0,0,0,0
4,5,CO-5,0.006937,29848,24136,US-21,RE-4,18093.9147,CO-4,46998.44,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,10805,CO-28,-0.872850,49087,10679,US-3,RE-1D,14191.6477,CO-6,58183.17,...,0,0,0,0,0,0,0,0,0,0
10805,10806,CO-1A,1.611212,37253,19960,US-5,RE-5,10687.0503,CO-1,65491.84,...,0,0,0,0,0,0,0,0,0,0
10806,10807,CO-10,1.362800,30925,27776,US-24,RE-17,12387.0003,CO-7,30040.54,...,0,0,0,0,0,0,0,0,0,0
10807,10808,CO-2B,-1.651243,47998,25741,US-6,RE-17,10395.2940,CO-D,46344.43,...,0,0,0,0,0,0,0,0,0,0
10808,10809,CO-2F,1.514309,29149,19425,US-1,RE-1C,17203.1377,CO-F,53174.22,...,0,0,0,0,0,0,0,0,1,0

In [50]:
df.drop(['region','item','weight','country','target'],axis=1,inplace=True)

In [51]:
df

,height,max,number,length,ratio,cat2_CA-0,cat2_CA-1,cat2_CA-10,cat2_CA-11,cat2_CA-12,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,0.453222,44907,16669,12471.1127,2.694043,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,-1.482176,48831,8652,10035.7085,5.643897,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,-0.339669,40760,23103,14442.6566,1.764273,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.309919,33597,17680,15121.4937,1.900283,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0.006937,29848,24136,18093.9147,1.236659,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,-0.872850,49087,10679,14191.6477,4.596591,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10805,1.611212,37253,19960,10687.0503,1.866383,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10806,1.362800,30925,27776,12387.0003,1.113371,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10807,-1.651243,47998,25741,10395.2940,1.864652,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10808,1.514309,29149,19425,17203.1377,1.500592,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0