In [1]:
import os
import pandas as pd

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv")
display(df[0:5])

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,IT-14,26633,CO-23,48583.507153
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,IT-8,14537,CO-11,130572.202064
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,46998.44,IT-5,21135,CO-1E,85768.812850

In [2]:
ratio = df['max']/df['number']

In [3]:
display(ratio)

0        2.694043
1        5.643897
2        1.764273
3        1.900283
4        1.236659
           ...
10804    4.596591
10805    1.866383
10806    1.113371
10807    1.864652
10808    1.500592
Length: 10809, dtype: float64

In [6]:
df['ratio'] = ratio

In [7]:
display(df[0:5])

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target,ratio
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769,2.694043
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044,5.643897
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,IT-14,26633,CO-23,48583.507153,1.764273
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,IT-8,14537,CO-11,130572.202064,1.900283
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,46998.44,IT-5,21135,CO-1E,85768.812850,1.236659

In [ ]:
dummies = df.get_dummi