In [2]:
import os
import pandas as pd
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv")
print(df[0:5])

    mpg  cylinders  displacement horsepower  weight  acceleration  year  \
0  18.0          8         307.0        130    3504          12.0    70
1  15.0          8         350.0        165    3693          11.5    70
2  18.0          8         318.0        150    3436          11.0    70
3  16.0          8         304.0        150    3433          12.0    70
4  17.0          8         302.0        140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [3]:
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df = df.select_dtypes(include = ['int','float'])
display(df[0:5])

    mpg  cylinders  displacement  weight  acceleration  year  origin
0  18.0          8         307.0    3504          12.0    70       1
1  15.0          8         350.0    3693          11.5    70       1
2  18.0          8         318.0    3436          11.0    70       1
3  16.0          8         304.0    3433          12.0    70       1
4  17.0          8         302.0    3449          10.5    70       1

In [5]:
headers = list(df.columns.values)
fields = []

for field in headers:
    fields.append({
        'name':field,
        'mean':df[field].mean(),
        'var':df[field].var(),
        'sd':df[field].std()
    })
    
for field in fields:
    print(field)

{'name': 'mpg', 'mean': 23.514572864321607, 'var': 61.089610774274405, 'sd': 7.815984312565782}
{'name': 'cylinders', 'mean': 5.454773869346734, 'var': 2.893415439920003, 'sd': 1.7010042445332119}
{'name': 'displacement', 'mean': 193.42587939698493, 'var': 10872.199152247384, 'sd': 104.26983817119591}
{'name': 'weight', 'mean': 2970.424623115578, 'var': 717140.9905256763, 'sd': 846.8417741973268}
{'name': 'acceleration', 'mean': 15.568090452261307, 'var': 7.604848233611383, 'sd': 2.757688929812676}
{'name': 'year', 'mean': 76.01005025125629, 'var': 13.672442818627143, 'sd': 3.697626646732623}
{'name': 'origin', 'mean': 1.5728643216080402, 'var': 0.6432920268850549, 'sd': 0.8020548777266148}

In [6]:
df2 = pd.DataFrame(fields)
display(df2)

           name         mean            var          sd
0           mpg    23.514573      61.089611    7.815984
1     cylinders     5.454774       2.893415    1.701004
2  displacement   193.425879   10872.199152  104.269838
3        weight  2970.424623  717140.990526  846.841774
4  acceleration    15.568090       7.604848    2.757689
5          year    76.010050      13.672443    3.697627
6        origin     1.572864       0.643292    0.802055

In [11]:
df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [12]:
print(f"has any na?{pd.isnull(df['horsepower']).values.any()}")

has any na?True

In [14]:
med = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(med)

In [15]:
print(f"has any na?{pd.isnull(df['horsepower']).values.any()}")

has any na?False

In [26]:
def rem_outliers(df,name,sd):
    drop_rows = df.index[(np.abs(df[name]-df[name].mean()) >= (sd*df[name].std()))]
    df.drop(drop_rows,axis=0,inplace=True)

In [37]:
import pandas as pd
import os
import numpy as np
from sklearn import metrics
from scipy.stats import zscore

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",na_values=['NA','?'])

med = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(med)

df.drop('name',1,inplace=True)

print(f'Length before MPG outliers dropped {len(df)}')
rem_outliers(df,'mpg',2)

Length before MPG outliers dropped 398

In [28]:
print(f'Length after MPG outliers dropped {len(df)}')

Length after MPG outliers dropped 388

In [30]:
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1
3,16.0,8,304.0,150.0,3433,12.0,70,1
4,17.0,8,302.0,140.0,3449,10.5,70,1

In [36]:
np.abs(df['mpg']-df['mpg'].mean()) >= (2*df['mpg'].std())

0      False
1      False
2      False
3      False
4      False
       ...
392    False
393    False
395    False
396    False
397    False
Name: mpg, Length: 388, dtype: bool

In [41]:
df = df.reindex(np.random.permutation(df.index))